PORT=3000
PUBLIC_BASE_URL=https://tu-dominio-o-ngrok.ngrok-free.app

# Token que capturas en Meta Developers para verificar el webhook.
VERIFY_TOKEN=test123

# WhatsApp Cloud API / Meta Graph.
WHATSAPP_GRAPH_VERSION=v21.0
WHATSAPP_ACCESS_TOKEN=EAAXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
WHATSAPP_PHONE_NUMBER_ID=976059972260111

# API de gobierno.
GOV_API_BASE_URL=https://grp.cuautitlan.gob.mx/cuautitlan_qa/caja/api/api
GOV_API_LOGIN_URL=https://grp.cuautitlan.gob.mx/cuautitlan_qa/api/authenticate
GOV_API_USERNAME=usuario
GOV_API_PASSWORD=contrasena

# Opcional: si ya tienes un bearer fijo para consultas directas.
GOV_API_AUTH_TOKEN=Bearer XXXXX
